<h2> Add a Product </h2>

<form method="post" action="/products">

  <label for="product-name-input">Name of Product</label>
  <input  id="product-name-input" type="text" name="productName">
  <br>

  <label for="product-price-input">Price</label>
  <input  id="product-price-input" type="number" step="0.1" name="productPrice">
  <br>

  <label for="product-image-input">Image URL</label>
  <input  id="product-image-input" type="url" name="productImageUrl">
  <br>

  <label for="description-input">Description</label>
  <textarea  id="description-input" name="productDescription">
  <br>

  <button> Add this Product </button>
</form>
