<h2> Our Products </h2>

<ul>
  <% productsAndStuff.forEach((oneProduct) => { %>
    <li>
      <h3> <%= oneProduct.name %></h3>
      <p> $ <%=oneProduct.price %></p>
      <a href="/products/details?myId=<%=oneProduct._id%>"> view details </a>
      <br>

      <a href="/products/edit?myId=<%=oneProduct._id%>"> Edit Product </a>
    </li>
  <% }) %>
</ul>
